$color-primary:         lightgoldenrodyellow;
$color-secondary:       #dffbb4;
$color-tertiary:        #2cdd88;
$color-link:            yellowgreen;
$color-theme:           #88aa00;
$color-card-bg:         #f7ffec;
$color-card-fg:         #222;
